html, body {
	background-color: black;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

#fire {
	width: 100%;
	height: 100%;
	/* background-color: red; */
	background-image: url("../rsc/fire.gif");
	background-size: cover;
	background-position: center;
}
